body{
	font-family: 'Roboto', sans-serif;
}

.demo-container {
		position: relative;
		height: 535px;
		padding-top: 60px;

	}
.demo-container p{
	position: relative;
	margin-top: -10px;
	margin-left: 45px;
	
	font-size: 1.5em;
	width: 550px;
}

.demo-container p#title {
	position: relative;
	margin-top: -35px;
	margin-left: 50px;
	font-size: 1.5em;
	width: 550px;
}

.demo-container p#title2{
	position: relative;
	margin-top: -35px;
	margin-left: 23px;
	
	font-size: 1.5em;
	width: 550px;
}


	#placeholder, #placeholder2 {
		width: 400px;
		margin-top:35px;
	}

	#menu, #menu2 {
		position: absolute;
		top: 70px;
		left: 25px;
		bottom: 20px;
		right: 20px;
	}

	#menu2 button, #menu button {
	
		width: 130px;
		padding: 3px 0 2px 0;
		margin-bottom: 4px;
		background: #eee;
		border: 1px solid #999;
		border-radius: 2px;
		font-size: 16px;
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		cursor: pointer;
	}


	#code {
		display: block;
		width: 870px;
		padding: 15px;
		margin: 10px auto;
		border: 1px dashed #999;
		background-color: #f8f8f8;
		font-size: 16px;
		line-height: 20px;
		color: #666;
	}

	ul {
		font-size: 10pt;
	}

	ul li {
		margin-bottom: 0.5em;
	}

	ul.options li {
		list-style: none;
		margin-bottom: 1em;
	}

	ul li i {
		color: #999;
	}

#logo{
		float: left;
		margin-right: 18px;
		vertical-align: middle;
	}